# RStudio session files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# renv library (project-local R packages)
renv/library/
renv/python/

# Python cache
__pycache__/
*.pyc

# Conda environment (optional if you track environment.yml)
.env/
.venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Data
data/**/*rds
data/**/*csv
data/**/*h5ad
data/**/*pth

# Logs
# logs/**/*log

# Outputs
outs/**/*png
outs/**/*pdf
outs/**/*csv
outs/**/*html
outs/**/*rds
outs/**/*h5ad

# OS files
.DS_Store
Thumbs.db
